<app-navbarinicio></app-navbarinicio>
  <div>
    <h1>Clases disponibles</h1>
    <br>
          <div class="row row-cols-1 row-cols-md-4 g-0">
            <div class="col">
              <div class="card"style="max-width: 20rem">
                <img src="../../../assets/Pilates.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pilates</h5>
                  <p class="card-text">Tiene como objetivo fortalecer el cuerpo y la mente desde la parte más profunda a la más superficial, aumentando y uniendo el dinamismo y la fuera muscular con el control mental, la relajación y la respiración.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card"style="max-width: 20rem">
                <img src="../../../assets/Meditacion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Meditación</h5>
                  <p class="card-text">Considerada un tipo de medicina complementaria para mente y cuerpo. La meditación puede producir un estado de relajamiento profundo y una mente tranquila.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card"style="max-width: 20rem">
                <img src="../../../assets/Cardio.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cardio</h5>
                  <p class="card-text">Ejercicios cardiovasculares se caracterizan por aumentar el ritmo cardíaco y la respiración al utilizar de forma reiterada un grupo muscular grande.</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card"style="max-width: 20rem">
                  <img src="../../../assets/Yoga.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Yoga</h5>
                    <p class="card-text">Práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="col">
                <div class="card"style="max-width: 20rem">
                  <img src="../../../assets/Box.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">KickBoxing</h5>
                    <p class="card-text">Deporte de combate de pie y una forma de boxeo, basados en patadas y puñetazos.</p>
                  </div>
                </div>
              </div>



              
            
</div>
