<app-navbar></app-navbar>
<div>
    <h1>Inscribete a clases</h1>
        <ul class="navbar-nav me-10 mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filtrar por:
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Clases <select name="especialidad">
                <option>Yoga</option>
               <option>Pilates</option>
               <option>Meditación</option>
               <option>Cardio</option>
               <option>KickBoxing</option></select></a></li>
              <li><a class="dropdown-item" >Fecha  <input type="date" value="2023-03-08" /></a></li>
            </ul>
          </li>
        </ul>
        <br>
          <div class="row row-cols-1 row-cols-md-4 g-0">
            <div class="col">
              <div class="card" style="max-width: 20rem">
                <img src="../../../assets/Pilates.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pilates</h5>
                  <p class="card-text">Tiene como objetivo fortalecer el cuerpo y la mente desde la parte más profunda a la más superficial, aumentando y uniendo el dinamismo y la fuera muscular con el control mental, la relajación y la respiración.</p>
                  <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Show More
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="staticBackdropLabel">sign up for the class!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Name class: ________________</p>
        <p>Coach: ____________________</p>
        <p>Fecha: ________________________</p>
        <p>Hora: _______________________</p>
        <p>Cupo: ________________________</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Inscribirse</button>
      </div>
    </div>
  </div>
</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="max-width: 20rem">
                <img src="../../../assets/Meditacion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Meditación</h5>
                  <p class="card-text">Considerada un tipo de medicina complementaria para mente y cuerpo. La meditación puede producir un estado de relajamiento profundo y una mente tranquila.</p>
                   <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Show More
</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="max-width: 20rem">
                <img src="../../../assets/Cardio.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cardio</h5>
                  <p class="card-text">Ejercicios cardiovasculares se caracterizan por aumentar el ritmo cardíaco y la respiración al utilizar de forma reiterada un grupo muscular grande.</p>
                  <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Show More
</button>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="max-width: 20rem">
                  <img src="../../../assets/Yoga.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Yoga</h5>
                    <p class="card-text">Práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
                     <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Show More
</button>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="col">
                <div class="card" style="max-width: 20rem">
                  <img src="../../../assets/Box.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">KickBoxing</h5>
                    <p class="card-text">Deporte de combate de pie y una forma de boxeo, basados en patadas y puñetazos.</p>
                     <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Show More
</button>

                  </div>
                </div>
              </div>



              
            
</div>
