<app-navbaradmin></app-navbaradmin>
<div>
    <h1>Clases</h1>
        <br>
          <div class="row row-cols-1 row-cols-md-4 g-0">
            <div class="col">
              <div class="card" style="max-width: 20rem">
                <img src="../../../assets/GymClass.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Class Name</h5>
                  <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModificarClases">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="ModificarClases" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="staticBackdropLabel">Modificar Clase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Class Name: <input type="text"></p>
        <p>Description: <input type="text"></p>
        <p> Instructor: <select name="Instructor">
            <option>Miguel Garcia</option>
           <option>Angel Jaime</option></select></p>
           <p>Fecha: <input type="date" value="2023-03-08" /></p>
        <p>Hora: <select name="especialidad">
            <option>17:00</option>
           <option>19:00</option>
           <option>21:00</option></select></p>
        <p>Cupo: <input type="text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger">Eliminar</button>
        <button type="button" class="btn btn-outline-success">Guardar</button>
      </div>
    </div>
  </div>
</div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="max-width: 20rem">
                  <img src="../../../assets/GymClass.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Class Name</h5>
                    <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModificarClases">
    Modificar
  </button>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="max-width: 20rem">
                  <img src="../../../assets/GymClass.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Class Name</h5>
                    <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModificarClases">
    Modificar
  </button>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="max-width: 20rem">
                  <img src="../../../assets/GymClass.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Class Name</h5>
                    <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModificarClases">
    Modificar
  </button>
                  </div>
                </div>
              </div>

<!--Boton Agregar couch -->

            <div class="Btn-Agregar">
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Agregar">
                Agregar
              </button>
            </div>
              
              <!-- Modal -->
              <div class="modal fade" id="Agregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-2" id="staticBackdropLabel">Agregar clase</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Name class: <input type="text"></p>
                      <p>Description: <input type="text"></p>
                      <p>Instructor: <select name="Class">
                        <option>Miguel</option>
                       <option>Angel</option></select></p>
                      <p>Fecha: <input type="date" value="2023-03-08" /></p>
                      <p>Hora: <select name="especialidad">
                        <option>17:00</option>
                       <option>19:00</option>
                       <option>21:00</option></select></p>
                      <p>Cupo: <input type="text"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-success">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>

            
</div>

